* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px 20px;
    line-height: 1.7;
    background-color: #f4f6f8;
    color: #333;
}



header {
    max-width: 950px;
    margin: 0 auto 35px auto;
    padding: 45px 40px;
    text-align: center;

    background: linear-gradient(135deg, #4f6fdc, #7357c8);
    color: white;

    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

header h1 {
    margin: 0 0 8px 0;
    font-size: 38px;
}

header h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: normal;
}

header p {
    max-width: 700px;
    margin: auto;
}



section {
    max-width: 950px;
    margin: 0 auto 25px auto;

    padding: 30px 45px;

    background-color: white;

    border-radius: 16px;
    border: 1px solid #e3e6ea;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
}

section h2 {
    margin-top: 0;
    margin-bottom: 18px;
    color: #4057a8;
}

section p {
    margin-top: 0;
    margin-bottom: 15px;
}



ul {
    padding-left: 25px;
}

li {
    margin-bottom: 8px;
}



button {
    padding: 11px 20px;
    margin: 6px 5px 6px 0;

    border: none;
    border-radius: 9px;

    background-color: #4f6fdc;
    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    background-color: #3f58b5;
}



#pontuacao {
    max-width: 950px;
    margin: 25px auto 10px auto;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
}

#mensagemFinal {
    max-width: 950px;
    margin: 0 auto 25px auto;

    text-align: center;
    font-size: 18px;
}



footer {
    max-width: 950px;
    margin: 45px auto 0 auto;

    padding: 25px;

    text-align: center;

    border-top: 1px solid #d5d8dd;

    color: #666;
}

footer p {
    margin: 4px;
}


@media (max-width: 600px) {

    body {
        padding: 15px 10px;
    }

    header {
        padding: 30px 20px;
    }

    header h1 {
        font-size: 30px;
    }

    header h2 {
        font-size: 19px;
    }

    section {
        padding: 25px 22px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}
.comparacao-imagens img {
    width: 350px;
    max-width: 400px;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
}
.comparacao-imagens {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.imagem-opcao {
    text-align: center;
}